<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
p,h1 {
  text-align: center;
}
.container {   
  width:690px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-left: auto ;
  margin-right: auto ;
  margin-top: 93px ;  
  position:relative
}
.icon{
	position:absolute;
    top:5%;
    left:46%;
}
</style>
<body>
<div class="container">
    <div class="icon">
        <i class="fa fa-window-close" style="font-size:60px;color:red"></i>
    </div>
    <h1 style="font-size:6vw;">Sorry!</h1>

    <p style="font-size:3vw;">Your time to submit feedback has been expired.</p>
</div>
</body>
</html>
